<div class="network-container size-full" #networkContainer></div>
@if (contextMenuCoordinates()) {
	<div class="fixed top-0 left-0 size-full bg-transparent" (click)="contextMenuCoordinates.set(null)">
		<div class="size-fit bg-white rounded-md shadow-md absolute" [ngStyle]="{
			top: contextMenuCoordinates()!.y + 'px',
			left: contextMenuCoordinates()!.x + 'px',
			transform: 'translate(' + menuPosition().x + ',' + menuPosition().y + ')'
		}" #contextMenu>
			{{ selectedNode()?.label }}: {{ contextMenuContent()?.name }}
			@for (property of contextMenuContent()?.properties; track $index) {
				<div>
					@if (property.name == '#type') {
					} @else {
						{{ property.name }}: {{ property.dataType }} = {{ property.value }}
					}
				</div>
			}
		</div>
	</div>
}
